*{
    margin:0;
    padding:0;
    box-sizing: 0;
}
html{
    height: 100%;
}
html,:root{
    font-size: 62.5%;
    --shadow-gray: #d6d6d6;
    --letter-gray: #6c757d;

}

body{
    font-family:'Open Sans', sans-serif; 
    min-height  : 100%;
    display: flex;
    flex-direction: column;

}

header{
    text-align: center;
    margin: 5rem 0 2rem 0;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2rem;
}

header h1{
    font-size: 3rem;
}
header h2{
    font: bold;
    font-size: 1.5rem;
    color: var(--letter-gray);
    margin-top: 1rem;
}

#news-section{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    width: 160%;
    height: 100%;
    margin-left: 12rem;
    

}

#side-section{
    width: 50vw;
    font-size: 5rem;
    position: right;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;
}
#side-section h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#side-section div{
    width: 50%;
}

#side-section p{
    color: var(--letter-gray);
    font-size: 1.2rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--shadow-gray);
    padding-bottom: 0.8rem;
}
.search-input{
    border-style: none;
    border: 1px solid var(--shadow-gray);
    border-radius: 0.8rem;
    padding: 1rem;
    background: url(assets/search.png) no-repeat right;
    background-size: 1.5rem;
    background-position-x: 95%;
}

.card{
    width: 40rem;
    margin: 2rem;
    border: 1px solid var(--shadow-gray);
    border-radius: 0.8rem;
    box-shadow: 0rem 0.1rem 0.1rem var(--shadow-gray);
}

.card img{
    width: 40rem;
    border-radius:0.8rem ;
}

.card-text{
    padding: 2rem; 
   
}
.card-text h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.card-text p{
    font-size: 1.5rem;
    color: var(--letter-gray);
    margin-bottom: 1rem;
}
.card-text a{
    font-weight: 600;
    text-decoration: none;
    color: blue;
}
.card-text a:hover{
    cursor: pointer;
}


